<div class="form-container ui-fluid">
  <h3 class="form-header">
    Płatność
  </h3>

  <form #ngForm="ngForm"
        [formGroup]="paymentForm">
    <app-form-field label="Kwota"
                    [config]="{type:'number'}"
                    name="quantity"></app-form-field>
    <button pButton
            label="Wyślij"
            [disabled]="paymentForm.invalid"
            (click)="onSubmit(paymentForm.value)"></button>
    <button pButton
            label="Anuluj"
            class="ui-button-danger section"
            (click)="onCancel()"></button>
  </form>
</div>
