<div class="form-container ui-fluid">
  <h4 class="form-header">
    Zarejestruj się
  </h4>

  <form #ngForm="ngForm"
        [formGroup]="registerForm"
        (ngSubmit)="registerUser(registerForm.value)">
    <app-form-field label="Login"
                    name="username"></app-form-field>
    <app-form-field label="Password"
                    name="password"></app-form-field>
    <app-form-field label="Confirm Password"
                    name="confirmPassword"></app-form-field>

    <div formGroupName="client">
      <app-form-field label="Imię"
                      name="firstName"></app-form-field>
      <app-form-field label="Nazwisko"
                      name="lastName"></app-form-field>
      <app-form-field label="Email"
                      name="email"></app-form-field>
    </div>

    <button pButton
            label="Wyślij"
            (click)="ngForm.onSubmit(null)"></button>
  </form>
</div>
